<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
   <!-- 配置数据库方言  目前只有mysql和oracle两种-->  
   <properties>  
       <property name="dialect" value="mysql"/>
   </properties>  
   <!-- 配置mysql分页拦截器 start -->   
    <plugins>  
        <plugin interceptor="com.dragon.codingol.web.interceptors.PaginationInterceptor"></plugin>  
    </plugins>  
  
</configuration> 
