.icon-blank{background:url('icons/icon-blank.gif') no-repeat center center;}
.icon-add{background:url('icons/icon-add.png') no-repeat center center;}
.icon-edit{background:url('icons/icon-edit.png') no-repeat center center;}
.icon-clear{background:url('icons/icon-clear.png') no-repeat center center;}
.icon-remove{background:url('icons/edit-remove.png') no-repeat center center;}
.icon-save{background:url('icons/icon-filesave.png') no-repeat center center;}
.icon-cut{background:url('icons/icon-cut.png') no-repeat center center;}
.icon-ok{background:url('icons/icon-ok.png') no-repeat center center;}
.icon-no{background:url('icons/icon-no.png') no-repeat center center;}
.icon-cancel{background:url('icons/icon-cancel.png') no-repeat center center;}
.icon-reload{background:url('icons/icon-reload.png') no-repeat center center;}
.icon-search{background:url('icons/icon-search.png') no-repeat center center;}
.icon-print{background:url('icons/icon-print.png') no-repeat center center;}
.icon-help{background:url('icons/icon-help.png') no-repeat center center;}
.icon-undo{background:url('icons/icon-undo.png') no-repeat center center;}
.icon-redo{background:url('icons/icon-redo.png') no-repeat center center;}
.icon-back{background:url('icons/icon-back.png') no-repeat center center;}
.icon-sum{background:url('icons/icon-sum.png') no-repeat center center;}
.icon-tip{background:url('icons/icon-tip.png') no-repeat center center;}
.icon-filter{background:url('icons/icon-filter.png') no-repeat center center;}
.icon-man{background:url('icons/icon-man.png') no-repeat center center;}
.icon-lock{background:url('icons/icon-lock.png') no-repeat center center;}
.icon-more{background:url('icons/icon-more.png') no-repeat center center;}
.icon-recycle{background:url('icons/icon-recycle.png') no-repeat center center;}
.icon-list{background:url('icons/icon-list.png') no-repeat center center;}
.icon-view{background:url('icons/icon-view.png') no-repeat center center;}
.icon-delete{background:url('icons/icon-delete.png') no-repeat center center;}

.icon-mini-add{background:url('icons/icon-mini-add.png') no-repeat center center;}
.icon-mini-edit{background:url('icons/icon-mini-edit.png') no-repeat center center;}
.icon-mini-refresh{background:url('icons/icon-mini-refresh.png') no-repeat center center;}
.icon-large-picture{background:url('icons/icon-large-picture.png') no-repeat center center;}
.icon-large-clipart{background:url('icons/icon-large-clipart.png') no-repeat center center;}
.icon-large-shapes{background:url('icons/icon-large-shapes.png') no-repeat center center;}
.icon-large-smartart{background:url('icons/icon-large-smartart.png') no-repeat center center;}
.icon-large-chart{background:url('icons/icon-large-chart.png') no-repeat center center;}
 
.user{background:url('icons/user.png') no-repeat center center}